@layer base{
   @font-face{
    font-family: 'iran';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../media/fonts/AIranianSans.woff2) format('woff2');
   } 
}


@tailwind base;
@tailwind components;
@tailwind utilities;